html{
    
        
        
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    
    
}

body{
    background-color: peachpuff;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    min-height: 100svh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}

h1{
    font-family: sans-serif;
    padding: 1px;
    display: flex;
    justify-self: start;
    
}

p{
    
    color: rgb(22, 14, 4);
    font-size: 16;
    margin-bottom: 1.5rem;
    
    
}


.prep{
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

h3{
    color: purple;
    margin-bottom: -1%;
    
}



.prep ul li{
    margin-bottom: 10px;
    margin-left: -1%;
    font-family: sans-serif;
    padding-left: 1em;
    
    


}

.bolded{
    font-weight: bold;

}

.ind ul{
    margin-bottom: 50px;
}

.ind ul li{
    margin-bottom: 10px;
    margin-left: -1%;
    font-family: sans-serif;
    padding-left: 1em;


}

.measurements{
    color: hsl(14, 45%, 36%);
}

.ind ol li{
    margin-bottom: 10px;
    margin-left: -1%;
    font-family: sans-serif;
    padding-left: 1em;
}




main{
    
    border-radius: 1.1rem;
    width: 46rem;
    padding: 2.5rem;
    background-color: hsl(0, 0%, 100%);
    
}

h2{
    color: rgba(101, 46, 46, 0.896);
    padding:1.5rem 0 1rem 0;
    border-top: 1px solid lightgray;
    margin: 1.5rem 0 0 0;

    
}

h4{
    font-weight: lighter;
    
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    
    width: 37rem;
   
}
th {
    
    text-indent: 2.3rem;
    border-bottom: 1px solid lightgray;
    padding: 0.8rem 0 1rem 0;
}

main img {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
}

@media screen and (max-width: 375px) {
    
}